In [1]:
import paddle

In [2]:
paddle.__version__

'2.4.2'

In [3]:
import paddlets
print(paddlets.__version__)

d:\python\anaconda3\envs\paddle24\lib\site-packages\paddlets\utils\backtest.py:6: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.10 it will stop working
  from collections import defaultdict, Iterable

1.1.0

In [11]:
import pandas as pd
import numpy as np
from paddlets import TSDataset

In [7]:
! chcp 65001

Active code page: 65001

In [10]:
! dir

 Volume in drive D is DATA
 Volume Serial Number is 6E01-53CA

 Directory of d:\BaiduSyncdisk\mf\python\10\1.git\Machine_Learning-notes\paddle\paddleTS\代码测试

2023/03/12  12:40    <DIR>          .
2023/03/12  12:40    <DIR>          ..
2023/03/12  12:43            64,548 test.ipynb
2023/03/12  12:40    <DIR>          welldata_100
               1 File(s)         64,548 bytes
               3 Dir(s)  242,146,476,032 bytes free

In [ ]:
# 从csv文件中直接读取
data = TSDataset.load_from_csv("/path/to/data.csv")

In [60]:
# 从dataframe格式下转换，适用性更广
df_data = pd.read_csv('./welldata_100/welldata-100-test.csv')
df_data.insert(0, 'index', df_data.index, allow_duplicates = False)  # 新增一个索引列作为时间序列数据，因为Depth有可能重复
custom_dataset = TSDataset.load_from_dataframe(
    df_data,  #Also can be path to the CSV file
    time_col='index',
    target_cols='AC',
    observed_cov_cols = ['CNL', 'DEN', 'GR']
)
# custom_dataset.plot()  # 绘图
# custom_dataset.plot(['GR'])  # 选定某个曲线或多个曲线进行绘图

In [72]:
df_data['AC']=np.NAN
df_data

       index wellnum     Depth  AC     CNL    DEN       GR
0          0    孤北24  2700.000 NaN  24.309  2.341  77.4844
1          1    孤北24  2700.125 NaN  23.839  2.341  77.7309
2          2    孤北24  2700.250 NaN  23.810  2.342  78.5765
3          3    孤北24  2700.375 NaN  24.006  2.346  79.4103
4          4    孤北24  2700.500 NaN  24.187  2.349  79.6685
...      ...     ...       ...  ..     ...    ...      ...
99452  99452     孤深2  4579.500 NaN  13.008  2.609  68.1665
99453  99453     孤深2  4579.625 NaN  13.352  2.590  69.1644
99454  99454     孤深2  4579.750 NaN  13.868  2.556  72.1562
99455  99455     孤深2  4579.875 NaN  14.198  2.546  73.8252
99456  99456     孤深2  4580.000 NaN  14.919  2.545  77.0677

[99457 rows x 7 columns]

In [73]:
pred_dataset = TSDataset.load_from_dataframe(
    df_data,  #Also can be path to the CSV file
    time_col='index',
    target_cols='AC',
    observed_cov_cols = ['CNL', 'DEN', 'GR']
)

In [61]:
df_data.head(1)

   index wellnum   Depth       AC     CNL    DEN       GR
0      0    孤北24  2700.0  287.785  24.309  2.341  77.4844

In [62]:
# 查看整体的统计信息
custom_dataset.summary()
custom_dataset.dtypes  # 数据类型
custom_dataset.columns  # 列名情况：目标列，已知协变量等

{'AC': 'target',
 'CNL': 'observed_cov',
 'DEN': 'observed_cov',
 'GR': 'observed_cov'}

In [63]:
from paddlets import TSDataset
from paddlets.models.model_loader import load
from paddlets.models.forecasting import RNNBlockRegressor

In [64]:
data = custom_dataset

In [65]:
# 3 init the model instance.
model = RNNBlockRegressor(in_chunk_len=9, out_chunk_len=1, skip_chunk_len=0)

# 4 fit
model.fit(train_tsdataset=data)

# 5 predict
predicted_dataset = model.predict(pred_dataset)

[2023-03-12 13:26:32,020] [ WARNING] logger.py:89 - No early stopping will be performed, last training weights will be used.

In [74]:
predicted_dataset = model.predict(pred_dataset)

[2023-03-12 13:30:23,834] [ WARNING] logger.py:89 - Input `AC` contains np.inf or np.NaN, which may lead to unexpected results from the model.

In [55]:
from paddlets.datasets.repository import get_dataset, dataset_list
from paddlets.datasets.tsdataset import TSDataset
from paddlets.models.forecasting import DeepARModel
from paddlets.metrics import MAE
from paddlets.metrics import MSE
from paddlets.metrics import QuantileLoss

ts = get_dataset("WTH")

In [57]:
ts.columns

{'WetBulbCelsius': 'target',
 'Visibility': 'observed_cov',
 'DryBulbFarenheit': 'observed_cov',
 'DryBulbCelsius': 'observed_cov',
 'WetBulbFarenheit': 'observed_cov',
 'DewPointFarenheit': 'observed_cov',
 'DewPointCelsius': 'observed_cov',
 'RelativeHumidity': 'observed_cov',
 'WindSpeed': 'observed_cov',
 'WindDirection': 'observed_cov',
 'StationPressure': 'observed_cov',
 'Altimeter': 'observed_cov'}

In [58]:
time_f = TimeFeatureGenerator(["month", "weekday", "hour", "dayofyear", "weekofyear"])
ts = time_f.fit_transform(ts)

NameError: name 'TimeFeatureGenerator' is not defined

In [59]:
scaler = StandardScaler()
scaler.fit(ts_train)
ts_train_scaled = scaler.transform(ts_train)
ts_val_scaled = scaler.transform(ts_val)
ts_test_scaled = scaler.transform(ts_test)

NameError: name 'StandardScaler' is not defined